@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* 
html {
	font-family: serif;
	font-size: 10px;
}

body {
	width: 650px;
}

h3 {
	font-size: 2.6rem;
	text-align: center;
}

label {
	font-size: 1.6rem;
	vertical-align: top;
}

hr {
	margin-top: 10px;
	margin-bottom: 10px;
}

button {
	padding-top: 5px;
	padding-bottom: 5px;
}

.container {
	display: grid;
	grid-template-columns: 2fr 10fr;
	grid-gap: 10px;
} */



body {
  /* background-color: #f1f5f9; */
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to right, #95f9c3, #0b3866);
}

.main-container {
  width: 375px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 375px;
  /* text-align: center; */
}

.heading {
  text-align: center;
  color: #ff4554;
  font-size: 28px;
  letter-spacing: .8px;
  text-shadow: 2px 2px 2px #000;
}

#check {
  background-image: linear-gradient(to right, #000 0%, #e74c3c 51%, #000000 100%);
  margin: 10px;
  width: 225px;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 10px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  margin-top: 20px;
}

.disabled{
  opacity: 0.65; 
  cursor: not-allowed;
  pointer-events: none;
  box-shadow: none;
}

#check:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: rgba(223, 200, 200, 0.925);
  text-decoration: none;
}
.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  margin-left: 35px;
}

.input-field {
  color: rgba(56, 48, 48, 0.7);

  /* width: 100%; */
  width: 300px;
  padding: 10px 0px;
  margin: 7px 0;
  border: 0 1px solid #999 0 0;
  outline: none;
  background: transparent;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  /* border-image: linear-gradient(to right, #aaa,#bbb); */
  border-image: linear-gradient(to right, #ff105f, #ffad06);
  border-image-slice: 1;
  /* border-bottom-style: groove; */
}

.input-field:active,
.input-field:focus {
  transition: all .3s ease-in-out;
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, #ffad06, #ff105f);
  border-bottom-style: groove;
  border-image-slice: 1;
}

.input-group .user-box {
  position: relative;
}

.input-group .user-box label {
  position: absolute;
  top: 5px;
  left: 0;
  padding: 10px 0;
  font-size: 15px;
  color: #777;
  pointer-events: none;
  transition: .5s;
}

.input-group .user-box input:focus~label,
.input-group .user-box input:valid~label {
  top: -10px;
  left: 0;
  color: #2E3192;
  font-size: 14px;
}

.hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
}
