@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* 
html {
	font-family: serif;
	font-size: 10px;
}

body {
	width: 650px;
}

h3 {
	font-size: 2.6rem;
	text-align: center;
}

label {
	font-size: 1.6rem;
	vertical-align: top;
}

hr {
	margin-top: 10px;
	margin-bottom: 10px;
}

button {
	padding-top: 5px;
	padding-bottom: 5px;
}

.container {
	display: grid;
	grid-template-columns: 2fr 10fr;
	grid-gap: 10px;
} */



body {
  /* background-color: #f1f5f9; */
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to right, #95f9c3, #0b3866);
}

.main-container{
  width: 375px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 375px;
  /* text-align: center; */
}

.heading {
  text-align: center;
  color: #ff4554;
  font-size: 28px;
  letter-spacing: .8px;
  text-shadow: 2px 2px 2px #000;
}

#check {
  background-image: linear-gradient(to right, #000 0%, #e74c3c 51%, #000000 100%);
  margin: 10px;
  width: 200px;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 10px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  margin-top: 20px;
}

#check:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: rgba(223, 200, 200, 0.925);
  text-decoration: none;
}


.selectTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-top: 20px; */
}
.tab{
  font-size: 14px;
  color: #000;
}
.title, .url {
  margin-left: 6px;
  color: #4e050b;
  /* margin: auto; */
  /* word-wrap: break-word; */
  font-size: 14px;
  
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #e74c3c;
  outline: 0;
  font-size: 1rem;
  color: rgba(41, 40, 40, 0.685);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1rem;
  cursor: text;
  top: 85px;
}
.form__label {
  position: absolute;
  top: 70px;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #4e050b77;
  left: 10px;
}
.form__field:focus {
  padding-bottom: 6px;
  font-weight: 500;
  border-width: 1px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 70px;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #310d6b;
  font-weight: 500;
}
/* reset input */
.form__field:required, .form__field:invalid {
  box-shadow: none;
}

.hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
}
